@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="vi" class="csstransforms3d">

<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Galaxy Cinema | rạp phim hay nhất Việt Nam 2023</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <meta property="fb:admins" content="1692090397" />
    <meta property="fb:admins" content="100001920439162" />
    <meta property="fb:app_id" content="1427253957539434" />
    <meta property="og:url" content="https://www.galaxycine.vn/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Galaxy Cinema | rạp phim hay nhất Việt Nam 2023" />
    <meta property="og:image" content="https://www.galaxycine.vn/media/2021/10/22/eternals_1634901911537.jpg" />
    <meta property="og:description" content="Galaxy Cinema | rạp phim hay nhất Việt Nam 2023" />
    <link rel="canonical" href="https://www.galaxycine.vn/" />
    <link rel="shortcut icon" href="/favicon.ico?version=20201127001" type="image/x-icon" />
    <meta name="description" content="Galaxy Cinema | rạp phim hay nhất Việt Nam 2023" />
    <meta name="robots" content="index, follow" />
    <!-- STYLES WEBSITE END-->
    <script type="text/javascript">
        window.ENV = 'production';
        try {
            window.firebaseConfig = JSON.parse('{&quot;apiKey&quot;:&quot;AIzaSyB2JGN_huou7vLlrT10iojfan44-rZq0RY&quot;,&quot;authDomain&quot;:&quot;galaxy-cinema-9bf64.firebaseapp.com&quot;,&quot;databaseURL&quot;:&quot;https://galaxy-cinema-9bf64.firebaseio.com&quot;,&quot;projectId&quot;:&quot;galaxy-cinema-9bf64&quot;,&quot;storageBucket&quot;:&quot;galaxy-cinema-9bf64.appspot.com&quot;,&quot;messagingSenderId&quot;:&quot;694105011677&quot;,&quot;appId&quot;:&quot;1:694105011677:web:8412dc47db8edffec77234&quot;,&quot;measurementId&quot;:&quot;G-38CEXZ2PDR&quot;}'.replace(/&quot;/g, '"'))
        } catch (e) { }
    </script>
    <script type="text/javascript">
        window.ENV = 'production';
    </script>
    <script type="text/javascript">
        window.clientid = "3da4eba4-94dd-4e74-bc25-38e89a01fe07";
        window.grpcUrl = "https://www.galaxycine.vn:8080";
        window.grpApiKey = "8f8ba0aa-7f69-41d7-8007-95ef585502c9";
        window.recaptchaSiteKey = "6Ld2Bt0kAAAAABi6bNd-EmcSXY72C2nevGupxqRE";
    </script>
    <script src="../RapChieuPhim/customjs-min/loadCss.js" defer="defer"></script>
    <link rel="stylesheet" href="../RapChieuPhim/website/css/animate.min.css" />
    <link rel="stylesheet" href="../RapChieuPhim/website/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../RapChieuPhim/website/css/datepicker.css" />
    <link rel="stylesheet" href="../RapChieuPhim/website/css/font-awesome.css" />
    <link rel="stylesheet" href="../RapChieuPhim/website/css/normalize.min.css" />
    <link rel="stylesheet" href="../RapChieuPhim/website/css/screen.css" />
    <link rel="stylesheet" href="../RapChieuPhim/website/main.css" />
    <!-- Google Tag Manager-->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KTL6N2');
    </script>
    <!-- End Google Tag Manager-->
    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="async"></script>
    <script>
        var AppId = "b35bd0e4-1a04-4fb9-8bb9-085c5a7026d3";
        if (AppId) {
            var OneSignal = window.OneSignal || [];
            OneSignal.push(["init", {
                appId: AppId,
                autoRegister: true,
                notifyButton: {
                    enable: false /* Set to false to hide */
                }
            }]);
        }
    </script>
</head>

<body ng-app="appweb">
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KTL6N2" height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
    <div id="overlay"></div>
    <span us-spinner="" spinner-key="spinner-1" spinner-start-active="false"></span>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="header-nav-wrapper">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="logo"><a rel="external" href="/"><img src="website/images/template-logo.jpg" data-src="website/images/galaxy-logo.png" alt="Galaxy Cinema" class="lazy hidden-xs hidden-sm" /><img src="website/images/template-logo.jpg" data-src="website/images/galaxy-logo-mobile.png" alt="Galaxy Cinema" class="lazy hidden-lg hidden-md" /></a></div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="primary-nav-wrapper desktop hidden-xs hidden-sm">
                            <div class="search">
                                <galaxy-search-bar></galaxy-search-bar>
                            </div>
                            <div class="secondary-nav-wrapper">
                                <ul class="secondary-nav">
                                    <li>
                                        <a id="loginLink" rel="external" href="#" ng-show="!userInfo.memberId" ng-click="openLogin()"><i class="icon-user"></i>Đăng nhập</a>
                                        <div ng-if="userInfo.memberId" class="dropdown">
                                            <a style="display: none;" ng-style="{ display: (userInfo.fullName ? 'block' : 'none') }" rel="external" href="/thanh-vien" ng-if="userInfo" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle"><i class="icon-member"></i><span>{{userInfo.fullName}}</span></a>
                                            <div class="dropdown-menu">
                                                <a rel="external" href="thanh-vien" class="dropdown-item">Tài khoản</a><a ng-click="logout()" class="dropdown-item">Thoát</a>
                                            </div>
                                        </div>
                                    </li>
                                    <!--li-->
                                    <!--  a#locationLink(rel='external', href='#')-->
                                    <!--    i.icon-place-->
                                    <!--    | Chọn vị trí-->
                                    <li class="language hidden-xs"><a rel="external" href="/" class="active">VN</a><span>|</span><a rel="external" href="/en/">EN</a></li>
                                </ul>
                            </div>
                            <!--.search-wrapper-->
                            <!--  ul.search-->
                            <!--    li-->
                            <!--      input#search-input(type='text', placeholder='Start typing then hit enter to search')-->
                            <!--    li-->
                            <!--      a.hide-search(rel='external', href='#')-->
                            <!--        i.fa.fa-close-->
                        </div>
                        <div class="primary-nav-wrapper hidden-lg hidden-md">
                            <div class="secondary-nav-wrapper">
                                <ul class="secondary-nav">
                                    <!--li-->
                                    <!--  a(href)-->
                                    <!--    i.icon-search-->
                                    <!--li-->
                                    <!--  a#locationLinkMobile(rel='external', href='#')-->
                                    <!--    i.icon-place-->
                                    <!--    | #{i18n('Chọn vị trí')}-->
                                    <li>
                                        <a id="loginLinkMobile" rel="external" href="#" ng-show="!userInfo.memberId" ng-click="openLogin()"><i class="icon-user"></i>Đăng nhập</a>
                                        <div ng-if="userInfo.memberId" class="dropdown">
                                            <a style="display: none;" ng-style="{ display: (userInfo.fullName ? 'block' : 'none') }" rel="external" href="/thanh-vien" ng-if="userInfo" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-member"></i><span>{{userInfo.fullName}}</span></a>
                                            <div class="dropdown-menu">
                                                <a rel="external" href="thanh-vien" class="dropdown-item">Tài khoản</a><a ng-click="logout()" class="dropdown-item">Thoát</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="gp-service-modal" style="z-index:1111;" class="modal">
                <div class="modal-dialog">
                    <div class="modal-outer-container">
                        <div class="modal-middle-container">
                            <div class="login-wrapper animated slideInDown">
                                <div class="login-container">
                                    <span ng-click="closeGPModal()" class="close"><i class="icon-cancel"></i></span>
                                    <div ng-show="gpPopup" class="tab-login-line">
                                        <div class="tab-login-title font-size-medium pb10 text-center">{{ gpPopup.title }}</div>
                                        <div class="login-tab-wrapper">
                                            <div class="login-heading">
                                                <div class="text-heading text-popup-heading text-justify"><span class="sub-text font-size-large">{{ gpPopup.description }}</span></div>
                                            </div>
                                            <div class="row">
                                                <div ng-repeat="button in gpPopup.buttonsList" class="col-sm-6"><button ng-class="{ 'primary-out': $first }" ng-click="clickButton(button)" class="btn primary input"><span>{{ button.text }}</span></button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="navbarController" class="galaxy-nav">
        <div class="container">
            <div class="search hidden-lg hidden-md">
                <galaxy-search-bar></galaxy-search-bar>
            </div>
            <nav>
                <ul class="primary-nav">
                    <li><a rel="external" href="/lich-chieu.html">Mua vé</a></li>
                    <li class="sub-nav">
                        <a rel="external" href="javascript:;">Phim</a>
                        <div id="sub-menu">
                            <ul class="undefined">
                                <li><a rel="external" href="/phim-dang-chieu.html">Phim đang chiếu</a></li>
                                <li><a rel="external" href="/phim-sap-chieu.html">Phim sắp chiếu</a></li>
                            </ul>
                        </div>
                        <div id="sub-menu-movie" class="hidden-sm hidden-xs">
                            <div class="visible-lg-block">
                                <div class="row submenu-title">
                                    <div class="col-sm-12">
                                        <h3><a rel="external" href="/phim-dang-chieu.html">Phim đang chiếu</a></h3>
                                    </div>
                                </div>
                                <div class="row movies-group-header">
                                    <div ng-repeat="movie in item.movieShowing | limitTo:4" class="col-sm-3">
                                        <article style="background-image: url(https://cdn.galaxycine.vn{{movie.imageLandscape}})" class="article-movie-header">
                                            <a rel="external" href="/{{&quot;dat-ve&quot; | translate}}/{{movie.slug}}" style="width:100%;">
                                                <figure>
                                                    <figcaption class="overlay">
                                                        <div class="movies-content-header">
                                                            <galaxy-icon-movie ng-age="movie.age"></galaxy-icon-movie>
                                                            <div class="group">
                                                                <div class="btn secondary-white btn-header">Mua vé</div>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </a>
                                        </article>
                                        <div class="title-movie-header">
                                            <h4 class="upper-text">{{movie.name}}</h4>
                                            <h4 class="vn upper-text">{{movie.subName}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row submenu-title">
                                    <div class="col-sm-12">
                                        <h3><a rel="external" href="/phim-sap-chieu.html">Phim sắp chiếu</a></h3>
                                    </div>
                                </div>
                                <div class="row movies-group-header">
                                    <div ng-repeat="movie in item.movieCommingSoon | limitTo:4" class="col-sm-3">
                                        <article style="background-image: url(https://cdn.galaxycine.vn{{movie.imageLandscape}})" class="article-movie-header">
                                            <a rel="external" href="/{{&quot;dat-ve&quot; | translate}}/{{movie.slug}}" style="width:100%;">
                                                <figure>
                                                    <figcaption class="overlay">
                                                        <div class="movies-content-header">
                                                            <galaxy-icon-movie ng-age="movie.age"></galaxy-icon-movie>
                                                            <div class="group">
                                                                <div class="btn secondary-white btn-header">Mua vé</div>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </a>
                                        </article>
                                        <div class="title-movie-header">
                                            <h4 class="upper-text">{{movie.name}}</h4>
                                            <h4 class="vn upper-text">{{movie.subName}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sub-nav">
                        <a rel="external" href="javascript:;">Góc điện ảnh</a>
                        <div id="sub-menu">
                            <ul class="undefined">
                                <li><a rel="external" href="/dien-anh.html">Thể loại phim</a></li>
                                <li><a rel="external" href="/dien-vien.html">Diễn viên</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a rel="external" href="/rap-gia-ve.html">Rạp/Giá Vé</a></li>
                    <li><a rel="external" href="/gop-y.html">Hỗ trợ</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="navicon"><a rel="external" href="#" class="nav-toggle"><span></span></a></div>
    <!-- BODY-->
    <div id="main-carousel" data-ride="carousel" data-interval='3000' class="carousel slide">
        <ol class="carousel-indicators hidden-sm hidden-xs">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
            <li data-target="#main-carousel" data-slide-to="3"></li>
            <li data-target="#main-carousel" data-slide-to="4"></li>
            <li data-target="#main-carousel" data-slide-to="5"></li>
            <li data-target="#main-carousel" data-slide-to="6"></li>
        </ol>
        <div role="listbox" class="carousel-inner">
            <a href="../RapChieuPhim/dat-ve/sieu-lua-gap-sieu-lay" link="../RapChieuPhim/dat-ve/sieu-lua-gap-sieu-lay" class="item active"><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/3/2048x682_1677813232555.jpg" class="lazy hidden-xs hidden-sm" /><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/3/1042x347-1_1677813237498.jpg" class="lazy hidden-md hidden-lg" /><div class="container content-wrap"><div class="play-bt trailer-bt-banner"><galaxy-watch-trailer ng-trailer="&quot;https://www.youtube.com/watch?v=NIVa1CCdFv4&quot;" data-title="&quot;Siêu Lừa Gặp Siêu Lầy&quot;"></galaxy-watch-trailer></div></div></a>
            <a href="../RapChieuPhim/dat-ve/shazam-fury-of-the-gods" link="../RapChieuPhim/dat-ve/shazam-fury-of-the-gods" class="item">
                <img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/15/shazam-2-1_1678853955649.jpg" class="lazy hidden-xs hidden-sm" /><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/15/shazam-2-3_1678853962030.jpg"
                                                                                                                                                                                        class="lazy hidden-md hidden-lg" />
                <div class="container content-wrap">
                    <div class="play-bt trailer-bt-banner">
                        <galaxy-watch-trailer ng-trailer="&quot;https://www.youtube.com/watch?v=KyRCmJE65ms&quot;" data-title="&quot;Shazam! 2&quot;"></galaxy-watch-trailer>
                    </div>
                </div>
            </a><a href="../RapChieuPhim/dat-ve/demon-slayer-to-the-swordsmith-village" link="../RapChieuPhim/dat-ve/demon-slayer-to-the-swordsmith-village" class="item"><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/11/fs-2046x682_1678502657390.jpg" class="lazy hidden-xs hidden-sm" /><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/11/fs-1042x347_1678502665558.jpg" class="lazy hidden-md hidden-lg" /><div class="container content-wrap"><div class="play-bt trailer-bt-banner"><galaxy-watch-trailer ng-trailer="&quot;https://www.youtube.com/watch?v=yvUoQ4wE1mg&quot;" data-title="&quot;Demon Slayer: To The Swordsmith Village&quot;"></galaxy-watch-trailer></div></div></a>
            <a href="../RapChieuPhim/dat-ve/suzume-no-tojimari" link="../RapChieuPhim/dat-ve/suzume-no-tojimari" class="item">
                <img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/8/suzume-2_1678245854384.jpg" class="lazy hidden-xs hidden-sm" /><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/8/1042wx347h_1678244783093.jpg"
                                                                                                                                                                                     class="lazy hidden-md hidden-lg" />
                <div class="container content-wrap">
                    <div class="play-bt trailer-bt-banner">
                        <galaxy-watch-trailer ng-trailer="&quot;https://www.youtube.com/watch?v=xQ4_c8JfuzI&quot;" data-title="&quot;Khóa Cửa Chặt Vào Suzume&quot;"></galaxy-watch-trailer>
                    </div>
                </div>
            </a><a href="phim-hay/phim-hay-thang-3-ra-rap-haha" link="phim-hay/phim-hay-thang-3-ra-rap-haha" class="item"><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/14/2048x682-2_1678776326795.jpg" class="lazy hidden-xs hidden-sm" /><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/14/1042x347-2_1678776328084.jpg" class="lazy hidden-md hidden-lg" /></a>
            <a href="khuyen-mai/u22-vui-ve---bap-nuoc-sieu-hat-de" link="khuyen-mai/u22-vui-ve---bap-nuoc-sieu-hat-de" class="item">
                <img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2022/11/1/combo-u22-digital-2048x682_1667285637091.jpg" class="lazy hidden-xs hidden-sm" /><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2022/11/1/combo-u22-digital-1042x347_1667285643276.jpg"
                                                                                                                                                                                                        class="lazy hidden-md hidden-lg" />
            </a><a href="khuyen-mai/zalopay-tang-25k-khi-dat-ve-galaxy" link="khuyen-mai/zalopay-tang-25k-khi-dat-ve-galaxy" class="item"><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/2/16/glx-q1-2048x682_1676516634325.jpg" class="lazy hidden-xs hidden-sm" /><img src="website/images/template-banner.jpg" data-src="https://cdn.galaxycine.vn/media/2023/2/16/glx-q1-1042x347_1676516639784.jpg" class="lazy hidden-md hidden-lg" /></a>
        </div>
        <a role="button" href="#main-carousel" data-slide="prev" class="left carousel-control hidden-xs hidden-sm"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous</span></a><a role="button" href="#main-carousel" data-slide="next" class="right carousel-control hidden-xs hidden-sm"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next</span></a>
        <div class="container">
            <div class="box-buy-ticket animated zoomIn">
                <section ng-controller="quickBuyTicket" class="tabs">
                    <div class="label-tab hidden-sm hidden-xs">mua vé nhanh</div>
                    <h3 class="hidden-lg hidden-md">Mua Vé Nhanh</h3><input id="tab-1" type="radio" name="radio-set" checked="checked" ng-click="clickTabNavTicket(&quot;byMovie&quot;)" class="tab-selector-1" /><label for="tab-1" class="tab-label-1">Theo phim</label><input id="tab-2"
                                                                                                                                                                                                                                                                                 type="radio" name="radio-set" ng-click="clickTabNavTicket(&quot;byDate&quot;) " class="tab-selector-2" /><label for="tab-2" class="tab-label-2">Theo ngày</label><input id="tab-3" type="radio" name="radio-set" ng-click="clickTabNavTicket(&quot;byCinema&quot;)"
                                                                                                                                                                                                                                                                                                                                                                                                                                                         class="tab-selector-3" /><label for="tab-3" class="tab-label-3">Theo rạp</label>
                    <div class="clear-shadow"></div>
                    <div id="id-block-ticket" ng-hide="isMobile == true &amp;&amp; flagShowBlockTicket == false" class="content">
                        <div class="content-1">
                            <form>
                                <galaxy-select ng-model="byMovie"></galaxy-select>
                                <galaxy-select ng-model="cinemaConfig"></galaxy-select>
                                <galaxy-select ng-model="dateConfig"></galaxy-select>
                                <galaxy-select ng-model="sessionConfig"></galaxy-select>
                            </form>
                        </div>
                        <div class="content-2">
                            <form>
                                <galaxy-select ng-model="byDate"></galaxy-select>
                                <galaxy-select ng-model="cinemaConfig"></galaxy-select>
                                <galaxy-select ng-model="movieConfig"></galaxy-select>
                                <galaxy-select ng-model="sessionConfig"></galaxy-select>
                            </form>
                        </div>
                        <div class="content-3">
                            <form>
                                <galaxy-select ng-model="byCinema"></galaxy-select>
                                <galaxy-select ng-model="movieConfig"></galaxy-select>
                                <galaxy-select ng-model="dateConfig"></galaxy-select>
                                <galaxy-select ng-model="sessionConfig"></galaxy-select>
                            </form>
                        </div><a id="loginBuyticket" ng-if="isMobile == true" ng-click="buyTicket()" class="btn primary fl-right btn-buyticket-box clearfix mobile">Mua vé</a>
                    </div><a id="loginBuyticket" ng-if="isMobile == false" ng-click="buyTicket()" class="btn primary fl-right btn-buyticket-box">Mua vé</a>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-movies">
                    <div class="tab-movies-line">
                        <ul class="nav nav-tabs movie-home">
                            <li class="active"><a href="#tab_default_1" data-toggle="tab">Phim đang chiếu</a></li>
                            <li><a href="#tab_default_2" data-toggle="tab">Phim sắp chiếu</a></li>
                        </ul>
                        <div class="tab-content">

                            @await Html.PartialAsync("PartialPhimDangchieu")
                            
                            <div id="tab_default_2" class="tab-pane">
                                <div class="row movies-group animated fadeInUp">
                                    @RenderBody()
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 pull-right"><a href="/phim-sap-chieu" class="btn secondary fl-right">Xem thêm</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BODY-->
    </div>
    <div class="footer-content">
        <footer class="footer-bg">
            <div class="container">
                <div class="row">
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_nav_menu">
                                <h1 class="title-widget">Giới thiệu</h1>
                                <ul>
                                    <li><a href="/ve-chung-toi"><i class="fa fa-angle-double-right"></i> Về chúng tôi</a></li>
                                    <li><a href="/thoa-thuan-su-dung"><i class="fa fa-angle-double-right"></i> Thoả thuận sử dụng</a></li>
                                    <li><a href="/quy-che-hoat-dong"><i class="fa fa-angle-double-right"></i> Quy chế hoạt động</a></li>
                                    <li><a href="/chinh-sach-bao-mat"><i class="fa fa-angle-double-right"></i> Chính sách bảo mật</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_nav_menu">
                                <h1 class="title-widget">Góc điện ảnh</h1>
                                <ul>
                                    <li><a href="/dien-anh"><i class="fa fa-angle-double-right"></i> Thể loại phim</a></li>
                                    <li><a href="/binh-luan-phim"><i class="fa fa-angle-double-right"></i> Bình luận phim</a></li>
                                    <li><a href="/movie-blog"><i class="fa fa-angle-double-right"></i> Blog điện ảnh</a></li>
                                    <li><a href="/phim-hay"><i class="fa fa-angle-double-right"></i> Phim hay tháng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_nav_menu">
                                <h1 class="title-widget">Hỗ trợ</h1>
                                <ul>
                                    <li><a href="/gop-y"><i class="fa fa-angle-double-right"></i> Góp ý</a></li>
                                    <li><a href="/sale-and-service"><i class="fa fa-angle-double-right"></i> Sale &amp; Services</a></li>
                                    <li><a href="/rap-gia-ve"><i class="fa fa-angle-double-right"></i> Rạp / giá vé</a></li>
                                    <li><a href="/tuyen-dung"><i class="fa fa-angle-double-right"></i> Tuyển dụng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_recent_news">
                                <h1 class="title-widget">Kết nối Galaxy cinema</h1>
                                <div class="social-icons">
                                    <ul class="nomargin">
                                        <a href="https://facebook.com/galaxycine.vn" target="_blank"><i id="social" class="icon-facebook-app-logo social-fb"></i></a>
                                        <a href="https://www.youtube.com/user/galaxymovies" target="_blank"><i id="social" class="icon-youtube-logo social-youtube"></i></a>
                                        <!--a(href='#{config.instagramUrl}' target="_blank")-->
                                        <!--  i#social.icon-instagram-logo.social-inst-->
                                        <a href="https://www.instagram.com/galaxycinema/" target="_blank"><i id="social" class="icon-instagram-logo social-inst"></i></a>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="store">
                            <ul class="list-unstyled clear-margins">
                                <li class="widget-container widget_recent_news">
                                    <h1 class="title-widget">Download app</h1>
                                    <div class="social-icons">
                                        <ul class="nomargin">
                                            <!--a(href='#{config.iosAppUrl}' target="_blank")-->
                                            <a href="https://itunes.apple.com/vn/app/galaxy-cinema/id593312549?l=vi&amp;mt=8" target="_blank"><i id="social" class="icon-apple-store social-store"></i></a>
                                            <!--a(href='#{config.androidAppUrl}' target="_blank")-->
                                            <a href="https://play.google.com/store/apps/details?id=com.galaxy.cinema&amp;hl=vi" target="_blank"><i id="social" class="icon-google-play social-store"></i></a>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="z-index:1" class="container ano-trade">
                <div class="wrap-icon"><a href="http://online.gov.vn/Home/WebDetails/5005"><img alt="" title="" src="../RapChieuPhim/website/images/glx_trade.png" width="150px" height="100%" /></a></div>
            </div>
        </footer>
        <div class="footer-bottom footer-line">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="/"><img src="website/images/galaxy-logo-footer.png" alt="Galaxy Cinema" /></a>
                        <div class="copyright">
                            <p>Công Ty Cổ Phần Phim Thiên Ngân, Tầng 3, Toà Nhà Bitexco Nam Long, 63A Võ Văn Tần, P. Võ Thị Sáu, Quận 3, Tp. Hồ Chí Minh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="loginController">
        <div id="login-modal" class="modal fade">
            <div ng-if="openLogin" class="modal-dialog">
                <div class="modal-outer-container">
                    <div class="modal-middle-container">
                        <div class="login-wrapper animated slideInDown">
                            <div class="login-container">
                                <span ng-click="closeModel()" class="close"><i class="icon-cancel"></i></span>
                                <div class="tab-login-line">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a id="a_tab_login_1" href="#tab_login_1" data-toggle="tab">Đăng nhập</a></li>
                                        <li><a class="line">/</a></li>
                                        <li><a id="a_tab_login_2" href="#tab_login_2" data-toggle="tab">Đăng ký</a></li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="tab-content">
                                                <div id="tab_login_1" class="tab-pane active">
                                                    <div class="login-tab-wrapper">
                                                        <div class="login-heading">
                                                            <div class="text-heading">
                                                                <span ng-if="!enableSkip" class="sub-text">Vui lòng đăng nhập trước khi mua vé để tích luỹ điểm, cơ hội nhận thêm nhiều ưu đãi từ chương trình thành viên Galaxy Cinema.</span><span ng-if="enableSkip"
                                                                                                                                                                                                                                                     class="sub-text">Bạn có thể mua vé mà không cần đăng nhập. Tuy nhiên, bạn sẽ không được tích luỹ điểm thành viên.</span>
                                                            </div>
                                                            <p ng-if="message" class="message">{{message}}</p>
                                                        </div>
                                                        <form ng-submit="submit()" class="login-form">
                                                            <input placeholder="Email" type="email" ng-model="userInfo.email" required="required" class="login" /><input placeholder="Mật khẩu" type="password" ng-model="userInfo.password" required="required"
                                                                                                                                                                         class="login" />
                                                            <div class="login-remember">
                                                                <!--.remember-->
                                                                <!--  .toggle-button.toggle-button-login-->
                                                                <!--    input#toggleRemember(type='checkbox' ng-model='userInfo.remember')-->
                                                                <!--    label(for='toggleRemember') Ghi nhớ-->
                                                                <!--    .toggle-button-icon-->
                                                                <div class="forget-pass"><a id="forgetPass" href="" ng-click="openForgetPass()">Quên mật khẩu?</a></div>
                                                                <div style="float: right" ng-if="userNotActive == true" class="forget-pass"><a href="" ng-click="reSendActiveCode()">Gửi lại link kích hoạt</a></div>
                                                            </div><button class="btn primary input"><i ng-show="isSubmit" class="fa fa-pulse fa-spinner"></i>Đăng nhập</button>
                                                            <div ng-if="enableSkip" class="divider-line"></div><a href="javascript:;" ng-if="enableSkip" ng-click="closeModel()" class="btn primary input">Mua vé không đăng nhập</a>
                                                            <!--.social-login-->
                                                            <!--  span Hoặc đăng nhập bằng-->
                                                            <!--  a(href='')-->
                                                            <!--    i.icon-facebook-->
                                                            <!--  a(href='')-->
                                                            <!--    i.icon-google-plus-->
                                                        </form>
                                                    </div>
                                                </div>
                                                <div id="tab_login_2" ng-controller="registerController" class="tab-pane">
                                                    <div class="login-tab-wrapper">
                                                        <div ng-if="message" class="login-heading">
                                                            <div class="text-heading">
                                                                <!--span.sub-text.error {{message}}-->
                                                                <p class="message">{{message}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="login-form">
                                                            <form ng-if="registerStep == &quot;register&quot;" ng-submit="submitOTP()">
                                                                <input placeholder="Họ tên" type="text" ng-model="user.fullName" required="required" class="login first" />
                                                                <div class="row city">
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 first-col"><input type="text" placeholder="Số điện thoại" maxlength="14" ng-model="user.mobilePhone" required="required" class="login register-input" /></div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 second-col mt-14">
                                                                        <galaxy-select ng-model="genderSelect"></galaxy-select>
                                                                    </div>
                                                                </div><input type="email" placeholder="Email" ng-model="user.email" required="required" class="login register-input remove-mb" />
                                                                <div class="row city">
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 first-col"><input type="password" placeholder="Mật khẩu" ng-model="user.password" required="required" class="login" /></div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 second-col"><input type="password" placeholder="Xác nhận mật khẩu" ng-model="user.confirmPassword" required="required" class="login" /></div>
                                                                </div>
                                                                <div class="row birthday-signup">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                                        <galaxy-datepicker ng-model="user.dateOfBirth"></galaxy-datepicker>
                                                                    </div>
                                                                </div>
                                                                <p class="text-confirm-signup">Tôi đã đọc và đồng ý với&nbsp<a ng-click="openPolicy()" data-toggle="modal" data-target="#popupPolicies"><b>CHÍNH SÁCH&nbsp</b></a>của chương trình.&nbsp</p><br /><button class="btn primary input">Đăng ký</button>
                                                            </form>
                                                            <div ng-if="registerStep == 'otp'" class="login-container">
                                                                <div class="tab-login-line">
                                                                    <div class="tab-login-title">Vui lòng nhập OTP</div>
                                                                    <div class="login-tab-wrapper">
                                                                        <div class="login-heading success">
                                                                            <div class="login-form">
                                                                                <form ng-submit="submit()">
                                                                                    <input placeholder="Nhập OTP" type="text" ng-model="user.code" class="login first" /><button class="btn primary input">Kiểm tra</button>
                                                                                    <div class="text-heading">
                                                                                        <p ng-if="otpCountDown &gt; 0"><span id="count-down-otp-register" class="sub-text"></span>Gửi lại OTP sau: {{ otpCountDown }}</p>
                                                                                    </div>
                                                                                    <div class="text-heading"><span class="sub-text">Bạn vui lòng truy cập tin nhắn để nhận OTP</span></div>
                                                                                </form>
                                                                            </div><button ng-if="otpCountDown == 0" ng-click="recallOTP()" class="btn secondary input"><span id="count-down-otp-aa" class="sub-text"></span>Gửi lại OTP</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="forgetPassController">
            <div id="forgetpass-modal" style="z-index:1111;" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-outer-container">
                        <div class="modal-middle-container">
                            <div class="login-wrapper animated slideInDown">
                                <div class="login-container">
                                    <span ng-click="closeModelForget()" class="close"><i class="icon-cancel"></i></span>
                                    <div class="tab-login-line">
                                        <div class="tab-login-title">Quên mật khẩu</div>
                                        <div class="login-tab-wrapper">
                                            <div class="login-heading">
                                                <div class="text-heading"><span class="sub-text">Vui lòng cung cấp email đăng nhập, chúng tôi sẽ gửi link kích hoạt cho bạn.</span></div>
                                            </div>
                                            <p ng-if="message" class="message">{{message}}</p>
                                            <form ng-submit="submit()" class="login-form">
                                                <input placeholder="Email" type="email" ng-model="item.email" required="required" class="login" />
                                                <div class="row captcha">
                                                    <div class="col-md-6 col-sm-6 col-xs-8 first-col">
                                                        <galaxy-captcha data-config="captchaConfig"></galaxy-captcha>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-4 second-col"><input placeholder="Nhập mã captcha" type="text" ng-model="item.captcha" required="required" class="login" /></div>
                                                </div><button class="btn primary input"><i ng-show="isSubmit" class="fa fa-pulse fa-spinner"></i>Cấp lại mật khẩu</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--#success-modal(style='display: none;')-->
        <div ng-controller="registerController">
            <div id="success-modal" style="z-index:1111;" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-outer-container">
                        <div class="modal-middle-container">
                            <div class="login-wrapper animated slideInDown">
                                <div class="login-container">
                                    <span ng-click="closeModelSuccess()" class="close"><i class="icon-cancel"></i></span>
                                    <div class="tab-login-line">
                                        <div class="tab-login-title">Đăng ký thành công</div>
                                        <div class="login-tab-wrapper">
                                            <div class="login-heading success">
                                                <i class="icon-success"></i>
                                                <div class="text-heading"><span class="sub-text">Chào mừng đến G-Star Club!</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--include active-->
    </div>
    <div id="trailerModal" class="modal fade modal-trailer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <h4 class="modal-title">Galaxy Cinema</h4>
                </div>
                <div id="galaxyVideo" class="modal-body"></div>
            </div>
        </div>
    </div>
    <div id="popupPolicies" ng-controller="policiesPopupController" style="z-index: 1100" class="dialog modal fade">
        <div class="modal-dialog">
            <div class="modal-outer-container">
                <div class="modal-middle-container">
                    <div class="login-wrapper animated bounceIn location">
                        <div class="login-container dialog">
                            <span ng-click="closeModel()" class="close"><i class="icon-cancel"></i></span>
                            <h2>Chính sách</h2>
                            <div id="policiesTab">
                                <div ng-controller="policyController" class="tab-movies-line">
                                    <ul class="nav nav-tabs">
                                        <li ng-repeat="(key, item) in info" class="{{key == 0 ? 'active' : ''}}"><a href="#tab_{{item.id}}_popup" data-toggle="tab">{{item.name}}</a></li>
                                    </ul>
                                    <div class="tab-content content-text">
                                        <div ng-repeat="(key, item) in info" id="tab_{{item.id}}_popup" class="{{key == 0 ? 'active' : '' + item.slug == 'huong-dan' ? 'scroll-content' : ''}} tab-pane">
                                            <div ng-bind-html="item.description" class="policy-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <galaxy-dialog></galaxy-dialog>
    <script src="../RapChieuPhim/website/js-min/dependencies/jquery.js"></script>
    <div id="fb-root"></div>
    <script>
        $(document).ready(function () {
            $(document).bind("scroll", function () {
                console.log("load facebook");
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=1427253957539434";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

                $(document).unbind("scroll")
            })
        });
    </script>
    <script src="../RapChieuPhim/website/js-min/dependencies/bootstrap.js" defer="defer"></script>
    <script src="../RapChieuPhim/website/js/dependencies/bootstrap-datepicker.js" defer="defer"></script>
    <script src="../RapChieuPhim/website/js-min/dependencies/underscore.js" defer="defer"></script>
    <script src="../RapChieuPhim/js-min/moment.min.js" defer="defer"></script>
    <script src="../RapChieuPhim/website/js-min/dependencies/jquery.bcSwipe.min.js" defer="defer"></script>
    <script src="../RapChieuPhim/js-app/vendor.js" defer="defer"></script>
    <script src="../RapChieuPhim/js-app/another.js" defer="defer"></script>
    <script src="../RapChieuPhim/js-app/app.js" defer="defer"></script>
    <script src="../RapChieuPhim/website/js-min/main.js" defer="defer"></script>
    <script src="../RapChieuPhim/customjs-min/lazyload.js" async="async"></script>
    <script>
        window.lazyLoadOptions = {
            img: ".lazy"
        };
    </script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app-check.js"></script>
    <script src="../RapChieuPhim/js/axios.min.js"></script>
    <script src="../RapChieuPhim/js/lodash-merge.js"></script>
    <script src="../RapChieuPhim/js-app/grpc.js"></script>
    <script src="../RapChieuPhim/customjs-min/firebase-setup.js"></script>
</body>

</html>
