@using X.PagedList.Mvc.Core;
@using BTLFormChung.Models;
@model X.PagedList.IPagedList<Phim>

<div id="tab_default_1" class="tab-pane active">
    <div class="row movies-group animated fadeInUp">
        <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
            <div class="article-movie-home">
                <img src="website/images/template-show.jpg" data-src="https://cdn.galaxycine.vn/media/2023/2/10/shazam-2_1675998615953.jpg" class="lazy" />
                <a href="/dat-ve/demon-slayer-to-the-swordsmith-village.html">
                    <div class="decription-hover overlay">
                        <div class="movies-content">
                            <i class="icon-c13"></i>
                            <div class="group">
                                <div class="btn secondary-white">mua vé</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--article.article-movie(style='background-image: url(#{item.imageLandscape})')-->
            <!--  figure-->
            <!--    figcaption.overlay-->
            <!--      .movies-content-->
            <!--        i(class='#{getIcon(item.age)}')-->
            <!--        .group-->
            <!--          a.btn.secondary-white(href='#{getUrlMovieDetail(item.slug)}') #{i18n('mua vé')}-->
            <div class="title-movie">
                <h4 class="upper-text">Shazam! Fury Of The Gods</h4>
                <h4 class="vn upper-text">Shazam! Cơn Thịnh Nộ Của Các Vị Thần</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
            <div class="article-movie-home">
                <img src="website/images/template-show.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg" class="lazy" />
                <a href="/dat-ve/sieu-lua-gap-sieu-lay">
                    <div class="decription-hover overlay">
                        <div class="movies-content">
                            <i class="icon-c16"></i>
                            <div class="group">
                                <div class="btn secondary-white">mua vé</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--article.article-movie(style='background-image: url(#{item.imageLandscape})')-->
            <!--  figure-->
            <!--    figcaption.overlay-->
            <!--      .movies-content-->
            <!--        i(class='#{getIcon(item.age)}')-->
            <!--        .group-->
            <!--          a.btn.secondary-white(href='#{getUrlMovieDetail(item.slug)}') #{i18n('mua vé')}-->
            <div class="title-movie">
                <h4 class="upper-text">Siêu Lừa Gặp Siêu Lầy</h4>
                <h4 class="vn upper-text"></h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
            <div class="article-movie-home">
                <img src="website/images/template-show.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/1/450x300_1677654112500.jpg" class="lazy" />
                <a href="/dat-ve/suzume-no-tojimari">
                    <div class="decription-hover overlay">
                        <div class="movies-content">
                            <i></i>
                            <div class="group">
                                <div class="btn secondary-white">mua vé</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--article.article-movie(style='background-image: url(#{item.imageLandscape})')-->
            <!--  figure-->
            <!--    figcaption.overlay-->
            <!--      .movies-content-->
            <!--        i(class='#{getIcon(item.age)}')-->
            <!--        .group-->
            <!--          a.btn.secondary-white(href='#{getUrlMovieDetail(item.slug)}') #{i18n('mua vé')}-->
            <div class="title-movie">
                <h4 class="upper-text">Suzume No Tojimari</h4>
                <h4 class="vn upper-text">Khóa Chặt Cửa Vào Suzume</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
            <div class="article-movie-home">
                <img src="website/images/template-show.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/6/450wx300h_1678092281718.jpg" class="lazy" />
                <a href="/dat-ve/13-exorcisms">
                    <div class="decription-hover overlay">
                        <div class="movies-content">
                            <i class="icon-c18"></i>
                            <div class="group">
                                <div class="btn secondary-white">mua vé</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--article.article-movie(style='background-image: url(#{item.imageLandscape})')-->
            <!--  figure-->
            <!--    figcaption.overlay-->
            <!--      .movies-content-->
            <!--        i(class='#{getIcon(item.age)}')-->
            <!--        .group-->
            <!--          a.btn.secondary-white(href='#{getUrlMovieDetail(item.slug)}') #{i18n('mua vé')}-->
            <div class="title-movie">
                <h4 class="upper-text">13 Exorcisms</h4>
                <h4 class="vn upper-text">13 Nghi Thức Trừ Tà</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
            <div class="article-movie-home">
                <img src="website/images/template-show.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/9/450x300_1678330897369.jpg" class="lazy" />
                <a href="/dat-ve/tom-and-jerry">
                    <div class="decription-hover overlay">
                        <div class="movies-content">
                            <i></i>
                            <div class="group">
                                <div class="btn secondary-white">mua vé</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--article.article-movie(style='background-image: url(#{item.imageLandscape})')-->
            <!--  figure-->
            <!--    figcaption.overlay-->
            <!--      .movies-content-->
            <!--        i(class='#{getIcon(item.age)}')-->
            <!--        .group-->
            <!--          a.btn.secondary-white(href='#{getUrlMovieDetail(item.slug)}') #{i18n('mua vé')}-->
            <div class="title-movie">
                <h4 class="upper-text">Tom And Jerry</h4>
                <h4 class="vn upper-text">Tom &amp; Jerry: Quậy Tung New York</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 movie-item">
            <div class="article-movie-home">
                <img src="website/images/template-show.jpg" data-src="https://cdn.galaxycine.vn/media/2023/3/10/1800x1200_1678447504033.jpg" class="lazy" />
                <a href="/dat-ve/65">
                    <div class="decription-hover overlay">
                        <div class="movies-content">
                            <i class="icon-c13"></i>
                            <div class="group">
                                <div class="btn secondary-white">mua vé</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--article.article-movie(style='background-image: url(#{item.imageLandscape})')-->
            <!--  figure-->
            <!--    figcaption.overlay-->
            <!--      .movies-content-->
            <!--        i(class='#{getIcon(item.age)}')-->
            <!--        .group-->
            <!--          a.btn.secondary-white(href='#{getUrlMovieDetail(item.slug)}') #{i18n('mua vé')}-->
            <div class="title-movie">
                <h4 class="upper-text">65</h4>
                <h4 class="vn upper-text">Cuộc Chiến Thời Tiền Sử</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
            <a asp-action ="PhimDangChieu" asp-route-id="" class="btn secondary fl-right">Xem thêm</a>
        </div>
    </div>
</div>